# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
disenv/

# Environment variables
.env

# Uploaded media files
Backend/Uploads/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db