# ===============================
# Python / FastAPI
# ===============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/
Backend/disenv/

# Environment Variables
.env
.env.*

# Python packaging
build/
dist/
*.egg-info/

# ===============================
# Database
# ===============================

*.db
*.sqlite3

# ===============================
# Uploads / Media
# ===============================

Backend/Uploads/
Uploads/

# ===============================
# Logs
# ===============================

*.log

# ===============================
# VS Code / IDE
# ===============================

.vscode/
.idea/

# ===============================
# Operating System Files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# Flutter
# ===============================

.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# ===============================
# Misc
# ===============================

coverage/
*.cover
*.pid
*.seed